/* Uppgift styla todo-list. 1. Rosa bakgrund, svart text. 2. animationer. ordnad i bokstavsordning inom reglarna.  @author: C.L.S  */

body {
  background-color: rgb(247, 158, 158);
  margin: 0;
}

.inputBox {
  /* box-sizing: content-box; */
  background-color: white;
  color: black;
  font-family: 'Roboto', sans-serif;
  height: auto;
  margin: auto;
  padding-left: 95px;
  padding-right: 95px;
  text-align: center;
  width: 400px;
  animation: introbox_dropdown 1s;
}

#headLine {
  font-family: 'Scheherazade New', serif;
  font-size: 40px;
  margin-bottom: 0;
  text-align: center;
  animation: introbox_fade 1s;
}

#allDone {
  flex-direction: row;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  margin-bottom: 35px;
  margin-top: 0;
  text-align: center;
  animation: introbox_fade 1s;
}

#input1 {
  border: rounded;
  border-color: lightgray;
  font-size: 25px;
  animation: introbox_fade 1s;
}

#addNewButton {
  font-size: 25px;
  animation: introbox_fade 1s;
}

.list {
  font-style: bold;
  padding: 30px;
  text-align: center;
  /* border-radius: 15px; */
}

.noText {
  color: red;
  font-size: 15px;
  margin: 5px;
  padding-bottom: 0px;
  visibility: hidden;
}

ul {
  font-size: 30px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

li {
  color: black;
  padding: 10px;
  transition: color 1s;
  animation: introbox_dropdown 1s;
}

ul li.checked {
  text-decoration: line-through;
  /* animation: spinning_round 1s; */
}

/* ul li:hover 
{
background: lightyellow;
color: black;
} */

/* animation som får raden att snurra vid markering*/

/* @keyframes spinning_round{
  0%{
    transform: rotate()
  }
  
  100%{
    transform: rotate(0.5turn)
  } */

/* } */

/* animation som ändrar färg på texten till svart*/

/* .markText
{
list-style-type: none;
font-size: 15px;
text-align: center;


} */

@keyframes introbox_dropdown {
  0% {
    transform: translateY(-100px);
  }
  50% {
    transform: translateY(50px);
  }
}

@keyframes introbox_fade {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}