/* Uppgift: Styla todo-list. Lernia. systemutvecklare inom JavaScript och Java. 2021-10-14. Termin 1, Introduktion till HTML och CSS. 
1. Rosa bakgrund, svart text. 
2. Animationer. Intro-text Fade:ar in och gör entre uppifrån. Nya element i listan- fade:ar in och glider uppåt.Klick på punkt- övergår till gråfärg på texten. Felmeddelande vid tomt fält- blinkar rött.
3.Ordnad i bokstavsordning inom reglarna, selectorerna i ordning som de kommer på webbsidan. @author: C.L.S.  */

body {
  background-color: rgb(247, 158, 158);
  margin: 0;
}

.inputBox {
  background-color: white;
  color: black;
  font-family: 'Roboto', sans-serif;
  height: auto;
  margin: auto;
  padding-left: 95px;
  padding-right: 95px;
  text-align: center;
  width: 400px;
  animation: introbox_dropdown 1s;
}

#headLine {
  font-family: 'Scheherazade New', serif;
  font-size: 40px;
  margin-bottom: 0;
  text-align: center;
  animation: introbox_fade 1s;
}

#allDone {
  flex-direction: row;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  margin-bottom: 35px;
  margin-top: 0;
  text-align: center;
  animation: introbox_fade 1s;
}

#input1 {
  border: rounded;
  border-color: lightgray;
  border-width: 1px;
  font-size: 25px;
  animation: introbox_fade 1s;
}

#input1:focus {
  border-color: blue;
  box-shadow: 0 0 5px blue;
  outline: none;
}

#addNewButton {
  font-size: 25px;
  animation: introbox_fade 1s;
}

.list {
  margin-top: 0px;
  padding: 30px;
  padding-bottom: 10px;
  padding-top: 0px;
  text-align: center;
}

.noText {
  color: red;
  font-size: 15px;
  font-style: italic;
  margin: 3px;
  margin-bottom: 0;
  padding-bottom: 0px;
  visibility: hidden;
}

ul {
  font-size: 30px;
  list-style-type: none;
  padding: 0;
  text-align: center;
}

li {
  color: black;
  padding: 10px;
  transition: color 0, 5s;
  animation: introbox_dropdown 200ms;
}

ul li.checked {
  color: gray;
  text-decoration: line-through;
}

@keyframes noText_blinking {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes introbox_dropdown {
  0% {
    transform: translateY(-100px);
  }
  50% {
    transform: translateY(50px);
  }
}

@keyframes introbox_fade {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes li_itemFadeIn {
  0% {
    transform: translateY (-100px);
  }
  50% {
    transform: translateY (50px);
  }
}